In [1]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv("data_with_gmap_features.csv")

print(data.shape)
data.head()

(5849, 10)

,neighborhood,price,beds,baths,extra,state,locality,lga,hood,zipcode
0,olaleye estate alaka iponri surulere lagos,2500000,3,4,brand new service 3 bedroom flat all rooms ens...,Lagos,Lagos,Surulere,Oke Ira,NaN
1,"off kudirat abiola way, julie estateoregun ike...",2500000,3,3,the property is a 3 bedrooms upscale flat all ...,Lagos,Ikeja,Ikeja,Allen,NaN
2,...lekki phase 1 lekki lagos,800000,1,1,"for more information, pricing, and private vie...",Lagos,Lekki,NaN,Lekki Phase 1,NaN
3,lekki phase 1 lekki lagos,1200000,1,1,"for more information, pricing, and private vie...",Lagos,Lekki,NaN,Lekki Phase 1,NaN
4,ketu lagos,1000000,2,2,brand new 2 bedrooms flat for rent at ketu lag...,Lagos,Lagos,Kosofe,Ketu,NaN

In [6]:
data.zipcode.value_counts(dropna=False)

NaN         5210
100242.0     209
100001.0     127
104106.0      38
12825.0       23
            ...
101223.0       1
21189.0        1
200253.0       1
101212.0       1
200284.0       1
Name: zipcode, Length: 67, dtype: int64

Most of the addresses don't have a zip code (due to bad address format or something), so I'll drop zipcode as it'd be useless.

In [9]:
data.drop('zipcode', 1, inplace=True)

data.head()

,neighborhood,price,beds,baths,extra,state,locality,lga,hood
0,olaleye estate alaka iponri surulere lagos,2500000,3,4,brand new service 3 bedroom flat all rooms ens...,Lagos,Lagos,Surulere,Oke Ira
1,"off kudirat abiola way, julie estateoregun ike...",2500000,3,3,the property is a 3 bedrooms upscale flat all ...,Lagos,Ikeja,Ikeja,Allen
2,...lekki phase 1 lekki lagos,800000,1,1,"for more information, pricing, and private vie...",Lagos,Lekki,NaN,Lekki Phase 1
3,lekki phase 1 lekki lagos,1200000,1,1,"for more information, pricing, and private vie...",Lagos,Lekki,NaN,Lekki Phase 1
4,ketu lagos,1000000,2,2,brand new 2 bedrooms flat for rent at ketu lag...,Lagos,Lagos,Kosofe,Ketu

In [14]:
data.groupby('locality')[['neighborhood', 'state', 'lga', 'hood']].count()

                             neighborhood  state   lga  hood
locality
Abeokuta                               12     12    11     6
Abuja                                 689    689   659   591
Abẹ́òkúta                               3      3     3     0
Agbara                                  1      1     1     0
Apata Ibadan                            1      1     1     0
Arepo                                  11     11    11     6
Arepo Berger                            1      1     1     0
Badagry                                 3      3     3     3
Benin City                              3      3     3     3
Central                                 2      2     2     2
Command                                 1      1     1     1
Egbe                                    1      1     1     1
Epe                                     1      1     1     0
FHA                                     1      1     1     1
Gbagada Expressway                      1      1     1     1
Germantown                              1      1     1     1
Gwagwalada                              2      2     2     0
I                                       1      1     1     1
ISAWO                                   1      1     1     1
Ibadan                                466    466   400   220
Ibadan, Oyo                            10     10    10     2
Ibadan, Oyo State                       1      1     1     0
Ibafo                                   8      8     8     0
Igbesa                                  1      1     1     0
Ikeja                                 162    162   162   129
Ikeja, Lagos, Nigeria                   8      8     8     0
Ikorodu                                93     93    92    93
Ilishan-Remo                            1      1     1     0
Iperu                                   1      1     1     0
Iwo Road                                1      1     1     0
Karu L. G. A Nasarawa State             1      1     1     0
Lagos                                3083   3083  2713  2824
Lekki                                 651    651   522   620
Magboro                                52     52    51     0
New Karu                                2      2     2     2
New York                                1      1     1     1
Odo Ogun                                1      1     1     0
Ojata                                   1      1     1     1
Ojodu                                 127    127    95   119
Ojodu Berger                           33     33    14    15
Ojokoro                                 1      1     1     1
Ojurin                                  3      3     3     3
Orozo                                   1      1     1     0
Ota                                    11     11    11     1
Owode                                   7      7     7     0
Oworonshoki                           102    102   102   102
Ozuoba                                  2      2     2     0
PHC                                     1      1     1     1
Port Harcourt                          72     72    61    63
Porter                                  1      1     1     0
Sagamu                                  5      5     5     1
Sangotedo                              24     24    24    19
Street                                  1      1     1     1
Washington                              1      1     0     1
Ìbàdàn                                  5      5     3     0